.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav-button:hover {
    text-decoration: underline;
  }
  